<!-- WHATSAPP -->
<div class="nav-bottom">
    <div class="popup-whatsapp fadeIn">
        <div class="content-whatsapp -top"><button type="button" class="closePopup">
                <i class="material-icons icon-font-color">close</i>
            </button>
            <p>Hola 🤩, ¡Puedes contáctarnos por nuestro canal de Whatsapp!.</p>
        </div>
        <div class="content-whatsapp -bottom">
            <input class="whats-input" id="whats-in" type="text" Placeholder="Enviar mensaje..." />
            <button class="send-msPopup" id="send-btn" type="button">
                <i class="material-icons icon-font-color--black">send</i>
            </button>
        </div>
    </div>
    <button type="button" id="whats-openPopup" class="whatsapp-button">
        <img class="icon-whatsapp" src="https://cdn-icons-png.flaticon.com/512/134/134937.png">
    </button>
    <div class="circle-anime"></div>
</div>
<!-- CLOSE WHATSAPP -->