<h1 mat-dialog-title>Modificar Estado</h1>
<form [formGroup]="registerForm" (ngSubmit)="UpdateUser()">
    <div mat-dialog-content>

        <!-- <mat-form-field>
            <mat-label>Estado</mat-label>
            <mat-select formControlName="role">
                <mat-option value=''>Sele</mat-option>
                <mat-option *ngFor="let item of rolelist" [value]="item.code">
                    {{item.name}}
                </mat-option>
            </mat-select>
        </mat-form-field> -->

        <section class="example-section">
            <br>
            <mat-checkbox (change)="onCheckboxChange($event)" formControlName="viewIs" class="example-margin">Activar</mat-checkbox>
          </section>

    </div>
    <div mat-dialog-actions>
        <button type="submit" mat-raised-button class="submit" color="primary" cdkFocusInitial>Guardar</button>
        <button mat-raised-button color="warn" mat-dialog-close>Cerrar</button>
    </div>
</form>