<header class="s-header" style="background-color: #0e1113 !important;">

    <div class="row" *ngIf="this.access == null">
        <div class="header-logo">
            <a class="site-logo" href="index.html">
                <img src="assets/logo/logo-v1.svg" alt="Homepage">
            </a>
        </div>

        <nav class="header-nav-wrap">
            <ul class="header-main-nav">
                <li class="current"><a  href="./landing#js-header" title="Inicio">Inicio</a></li>
                <li><a href="./landing#about" title="Sobre Nosotros">Nosotros</a></li>
                <li><a href="./landing#ahorro" title="Programas de Ahorro">Ahorros</a></li>
                <li><a href="./landing#academy" title="Warrior Academy">Academia</a></li>
                <li><a href="./landing#life-program" title="Desarrollo Personal">Desarrollo
                        Personal</a>
                </li>
                <li><a  href="./landing#blog" title="download">Blog</a></li>
                <li><a  href="./landing#join-up" title="download">Únete</a></li>
            </ul>
            <div class="header-cta">
                <a href="./login" class="btn btn--primary header-cta__btn">Iniciar Sesión <i class="icon-user"></i></a>
            </div>
        </nav>
        <!-- end header-nav-wrap -->

        <a class="header-menu-toggle"><span>Menú</span></a>
    </div>
    <div class="row" *ngIf="this.access != null">
        <div class="header-logo">
            <a class="site-logo" href="index.html">
                <img src="assets/logo/logo-v1.svg" alt="Homepage">
            </a>
        </div>
        <nav class="header-nav-wrap">
            <ul class="header-main-nav">
                <li class="current"><a href="./home/#js-header" title="Inicio">Inicio</a></li>
                <li><a  href="./home/#forex" title="Forex">Forex</a></li>
                <li><a  href="./home/#sintetics" title="Índices Sinteticos">Índices Sinteticos</a>
                <li><a  href="./customer" title="Recibos de Pag">Recibos de Pago</a>
                    <li><a  href="./home/#blog" title="Recibos de Pag">Recibos de Pago</a>
                </li>
            </ul>
        </nav>
        <div id="user-dropdown" class="avatar" (click)="toggleDropdown()">
            <span>
                <img [src]="currentphoto" class="img-avatar" style="border-radius: 20rem;">
            </span>
        </div>
        <div class="dropdown" *ngIf="showDropdown">
            <div class="dropdown-item" (click)="logout()">
                <i class="bx bx-log-out"></i>
                <span>Cerrar sesión</span>
            </div>
            <div class="dropdown-item" (click)="admin()" *ngIf="dataUser && dataUser.roles.includes('ROLE_ADMIN')">
                <i class="bx bx-cog"></i>
                <span> Administrador</span>
            </div>
        </div>

        <!-- end header-nav-wrap -->
        <a class="header-menu-toggle" href="#"><span>Menú</span></a>
    </div>
</header>