<footer class="s-footer footer">
    <!-- end footer__top -->

    <div class="row">
        <div class="footer__about col-five tab-full left">
            <h4>Warrios Club</h4>

            <p>
                Warriors Club es más que una comunidad de negocios y finanzas. Somos un vínculo entre visionarios
                emprendedores y expertos en el mercado.
            </p>

            <ul class="footer__social">
                <li><a href="https://web.facebook.com/elitewarriorsclub"><i class="fab fa-facebook-f" aria-hidden="true"></i></a></li>
                <li><a href="https://www.instagram.com/elite.warriors.club"><i class="fab fa-instagram" aria-hidden="true"></i></a></li>
            </ul>
        </div>

        <div class="col-five md-seven tab-full right end">
            <div class="row">

                <div class="footer__site-links col-five mob-full">
                    <h4>Acceso Rápido:</h4>

                    <ul class="footer__site-links">
                        <li><a href="#home" class="smoothscroll">Inicio</a></li>
                        <li><a href="#about" class="smoothscroll">Nosotros</a></li>
                        <li><a href="#ahorro" class="smoothscroll">Ahorros</a></li>
                        <li><a href="#academy" class="smoothscroll">Academia</a></li>
                        <li><a href="#life-program" class="smoothscroll">Desarrollo Personal</a></li>
                        <li><a href="#privacy-policy">Politicas de Privacidad</a></li>
                    </ul>
                </div>

                <div class="footer__contact col-seven mob-full">
                    <h4>Contacto:</h4>

                    <p>
                        ¿Necesitas asesoramiento? Llámanos en: <br>
                        <a href="tel:+573144539102" class="footer__mail-link">(+57) 314 453 9102</a>
                    </p>
                    <p>
                        ¿Necesitas ayuda o tienes una pregunta? Contáctanos en: <br>
                        <a href="mailto:elitewarriosclub@gmail.com?" class="footer__mail-link">elitewarriosclub@gmail.com</a>
                    </p>
                </div>

            </div>
        </div>

        <div class="col-full ss-copyright">
            <span>&copy; Copyright Warriors Club 2023</span>
            <span>Diseñado por &nbsp; <a href="https://digitalfutureagency.com/"> Digital Future Agency</a></span>
        </div>

    </div>
    <!-- end footer__bottom -->

    <div class="go-top">
        <a class="smoothscroll" title="Back to Top" href="#top"></a>
    </div>

</footer>