<!-- home section starts  -->
<section class="slideshow" id="js-header" style="padding-bottom: 5rem !important;">
    <div class="slideshow__slide js-slider-home-slide is-current" data-slide="1">
        <div class="slideshow__slide-background-parallax background-absolute js-parallax" data-speed="-1"
            data-position="top" data-target="#js-header">
            <div class="slideshow__slide-background-load-wrap background-absolute">
                <div class="slideshow__slide-background-load background-absolute">
                    <div class="slideshow__slide-background-wrap background-absolute">
                        <div class="slideshow__slide-background background-absolute">
                            <div class="slideshow__slide-image-wrap background-absolute">
                                <div
                                    class="slideshow__slide-image background-absolute img-3-slideshow img-3-slideshow-s">
                                    <div class="home-1" id="home">
                                        <!-- <div class="image">
                                            <img src="images/logo/logo-transparent.png" alt="">
                                        </div> -->
                                        <div class="content">
                                            <img src="assets/slides/dash/texto.svg" alt="">
                                            <a href="./home#forex"><img class="redir-1"
                                                    src="assets/slides/dash/boton.svg"></a>
                                        </div>
                                        <div class="image-2">
                                            <img src="assets/logo/logo-v1.svg" alt="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="slideshow__slide-caption">
            <div class="slideshow__slide-caption-text">
                <div class="container js-parallax" data-speed="2" data-position="top" data-target="#js-header">
                    <div class="col-12 mx-auto" data-aos="zoom-in-up" data-aos-delay="500">
                    </div>
                    <!-- <a class="slideshow__slide-caption-subtitle -load o-hsub -link" href="#">
                     <span class="slideshow__slide-caption-subtitle-label"><b>DigitalFuture.</b>agency</p></span>
                 </a> -->
                </div>
            </div>
        </div>
    </div>
</section>
<!-- </section> -->


<section id="forex" class="s-about-how" style="padding-bottom: 5rem !important;" *ngIf="this.dataUser?.viewIs">
    <div class="row process-wrap section-header align-center back-image" data-aos="fade-up">
        <div class="col-full">
            <h1 class="script">
                Módulo
            </h1>
            <h1 class="display-1">
                FOREX
            </h1>
        </div>
    </div>
    <div class="row forex-card" >
        <div class="col-full slick-slider forex-vimeo">
            <div class="yt-card" *ngFor="let video of videos; let i = index">
                <div class="thumb" (click)="openModal(video)">
                    <img [src]="'assets/images/forex/mis-' + (i + 1) + '.png'" />
                </div>
                
                <div class="details">
                    <div class="channel">
                        <a target="_blank">
                            <img src="assets/logo/logo-v2.svg" />
                        </a>
                    </div>
                    <div class="info">
                        <div class="title"><a target="_blank">
                            {{video.name }}</a>
                        </div>
                        <div class="channel-name"><a target="_blank">Warriors
                                Club</a></div>
                        <div class="views">
                            <span id="views"> {{ video.stats.plays}} Vistas.</span> 
                            <span> {{video.created_time | dateFormat}} </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="sintetics" class="s-about-how" *ngIf="this.dataUser?.viewIs">
    <div class="row process-wrap section-header align-center back-image" data-aos="fade-up">
        <div class="col-full">
            <h1 class="script">
                Módulo
            </h1>
            <h1 class="display-1">
                ÍNDICES SINTÉTICOS
            </h1>
        </div>
    </div>
    <div class="row forex-card">
        <div class="col-full slick-slider indices-vimeo">
            <div class="yt-card" *ngFor="let video of videosSintetics; let i = index">
                <div class="thumb" (click)="openModal(video)">
                    <img [src]="'assets/images/indices-sinteticos/mis-' + (i + 1) + '.png'" />
                </div>

                <div class="details">
                    <div class="channel">
                        <a target="_blank">
                            <img src="assets/logo/logo-v2.svg" />
                        </a>
                    </div>
                    <div class="info">
                        <div class="title"><a target="_blank">
                            {{video.name }}</a>
                        </div>
                        <div class="channel-name"><a target="_blank">Warriors
                                Club</a></div>
                        <div class="views">
                            <span id="views"> {{ video.stats.plays}} Vistas.</span> 
                            <span> {{video.created_time | dateFormat}} </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- post released -->
<section id="blog" class="s-home target-section">
    <div class="row section-header has-bottom-sep">
        <div class="col-full">
            <h1 class="display-1">
                NUESTRO BLOG
            </h1>
            <p class="lead">
                ¡Únete a nuestra comunidad y mantente actualizado con nuestras publicaciones en el blog de Warriors Club! Descubre cómo puedes superar tus límites y llevar tu vida al siguiente nivel.
            </p>
        </div>
    </div>
    <div class="row section-header align-center" data-aos="fade-up" style="margin-bottom: 3rem;">
        <iframe src="https://www.instagram.com/elite.warriors.club/embed" class="iframe-insta" width="100%" height="950px" frameborder="0"
        scrolling="no" allowtransparency="true"></iframe>
    </div>
    
</section>
<!-- end post released -->