<!-- home section starts  -->
<section class="slideshow" id="js-header" style="padding-bottom: 5rem !important;">
    <div class="slideshow__slide js-slider-home-slide is-current" data-slide="1">
        <div class="slideshow__slide-background-parallax background-absolute js-parallax" data-speed="-1"
            data-position="top" data-target="#js-header">
            <div class="slideshow__slide-background-load-wrap background-absolute">
                <div class="slideshow__slide-background-load background-absolute">
                    <div class="slideshow__slide-background-wrap background-absolute">
                        <div class="slideshow__slide-background background-absolute">
                            <div class="slideshow__slide-image-wrap background-absolute">
                                <div
                                    class="slideshow__slide-image background-absolute img-3-slideshow img-3-slideshow-s">
                                    <div class="home-1" id="home">
                                        <!-- <div class="image">
                                            <img src="images/logo/logo-transparent.png" alt="">
                                        </div> -->
                                        <div class="content">
                                            <img src="assets/slides/dash/texto.svg" alt="">
                                            <a href="#forex"><img class="redir-1"
                                                    src="assets/slides/dash/boton.svg"></a>
                                        </div>
                                        <div class="image-2">
                                            <img src="assets/logo/logo-v1.svg" alt="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="slideshow__slide-caption">
            <div class="slideshow__slide-caption-text">
                <div class="container js-parallax" data-speed="2" data-position="top" data-target="#js-header">
                    <div class="col-12 mx-auto" data-aos="zoom-in-up" data-aos-delay="500">
                    </div>
                    <!-- <a class="slideshow__slide-caption-subtitle -load o-hsub -link" href="#">
                     <span class="slideshow__slide-caption-subtitle-label"><b>DigitalFuture.</b>agency</p></span>
                 </a> -->
                </div>
            </div>
        </div>
    </div>
</section>
<!-- </section> -->


<section id="forex" class="s-about-how" style="padding-bottom: 5rem !important;">
    <div class="row process-wrap section-header align-center" data-aos="fade-up">
        <div class="col-full">
            <h1 class="display-1">
                MÓDULO FOREX
            </h1>
        </div>
    </div>
    <div class="row forex-card">
        <div class="yt-card">
            <!-- <div class="thumb">
                <a href="https://vimeo.com/user203249188" target="_blank">
                    <img src="./images/indices-sinteticos/min-1.png"
                        preview="./images/indices-sinteticos/min-1.png" />
                </a>
            </div> -->
            <div class="thumb">
                <div class="row">
                    <div class="col-full video-bg" data-aos="fade-up">
                        <div class="shadow-overlay"></div>
                        <a class="btn-video-login" href="./images/backgrounds/video.mp4" data-lity>
                            <span class="video-icon-login"></span>
                        </a>
                    </div>
                    <!-- end video-bg -->
                </div>
            </div>

            <div class="details">
                <div class="channel">
                    <a href="https://vimeo.com/user203249188" target="_blank">
                        <img src="assets/logo/logo-v2.svg" />
                    </a>
                </div>
                <div class="info">
                    <div class="title"><a href="https://vimeo.com/user203249188" target="_blank">
                            Introducción a Forex con Ciro Sayago</a>
                    </div>
                    <div class="channel-name"><a href="https://vimeo.com/user203249188" target="_blank">Ciro
                            Sayago</a></div>
                    <div class="views">
                        <span id="views">200K Vistas</span> ·
                        <span>06/07/2023</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="yt-card">
            <div class="thumb">
                <img src="assets/images/forex/min-2.png" preview="./images/forex/min-2.png" />
            </div>
            <div class="details">
                <div class="channel">
                    <a href="https://vimeo.com/user203249188" target="_blank">
                        <img src="assets/logo/logo-v2.svg" />
                    </a>
                </div>
                <div class="info">
                    <div class="title"><a href="https://vimeo.com/user203249188" target="_blank">
                            Introducción a Forex con Cesar Camargo</a>
                    </div>
                    <div class="channel-name"><a href="https://www.facebook.com/RIRwebdesign" target="_blank">Cesar
                            Camargo</a></div>
                    <div class="views">
                        <span id="views">200K Vistas</span> ·
                        <span>26/07/2023</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="yt-card">
            <div class="thumb">
                <img src="assets/images/forex/min-3.png"/>
            </div>
            <div class="details">
                <div class="channel">
                    <a href="https://vimeo.com/user203249188" target="_blank">
                        <img src="assets/logo/logo-v2.svg" />
                    </a>
                </div>
                <div class="info">
                    <div class="title"><a href="https://vimeo.com/user203249188" target="_blank">
                            Direccionalidad y temporalidad en Forex</a>
                    </div>
                    <div class="channel-name"><a href="https://www.facebook.com/RIRwebdesign"
                            target="_blank">Warriors Club</a></div>
                    <div class="views">
                        <span id="views">200K Vistas</span> ·
                        <span>26/07/2023</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="sintetics" class="s-about-how">
    <div class="row process-wrap section-header align-center" data-aos="fade-up">
        <div class="col-full">
            <h1 class="display-1">
                MÓDULO ÍNDICES SINTÉTICOS
            </h1>
        </div>
    </div>
    <div class="row forex-card">
        <div class="yt-card">
            <div class="thumb">
                <img src="assets/images/indices-sinteticos/min-1-is.png" />
            </div>
            <div class="details">
                <div class="channel">
                    <a href="https://vimeo.com/user203249188" target="_blank">
                        <img src="assets/logo/logo-v2.svg" />
                    </a>
                </div>
                <div class="info">
                    <div class="title"><a href="https://vimeo.com/user203249188" target="_blank">
                            Bienvenidos a Warriors Club</a>
                    </div>
                    <div class="channel-name"><a href="https://vimeo.com/user203249188" target="_blank">Warriors
                            Club</a></div>
                    <div class="views">
                        <span id="views">200K Vistas</span> ·
                        <span>11/07/2023</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="yt-card">
            <div class="thumb">
                <img src="assets/images/indices-sinteticos/min-2-is.png" />
            </div>
            <div class="details">
                <div class="channel">
                    <img src="assets/logo/logo-v2.svg" />
                </div>
                <div class="info">
                    <div class="title"><a href="https://vimeo.com/user203249188" target="_blank">
                            Bitacora de Índices Sintéticos</a>
                    </div>
                    <div class="channel-name"><a href="https://vimeo.com/user203249188" target="_blank">Warriors
                            Club</a></div>
                    <div class="views">
                        <span id="views">200K Vistas</span> ·
                        <span>11/07/2023</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="yt-card">
            <div class="thumb">
                <img src="assets/images/indices-sinteticos/min-3-is.png" />
            </div>
            <div class="details">
                <div class="channel">
                    <a href="https://vimeo.com/user203249188" target="_blank">
                        <img src="assets/logo/logo-v2.svg" />
                    </a>
                </div>
                <div class="info">
                    <div class="title"><a href="https://vimeo.com/user203249188" target="_blank">
                            Clase #1 Índices Sintéticos</a>
                    </div>
                    <div class="channel-name"><a href="https://vimeo.com/user203249188" target="_blank">Cesar
                            Camargo</a></div>
                    <div class="views">
                        <span id="views">200K Vistas</span> ·
                        <span>11/07/2023</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
